<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="public/fragments/head-elements :: headElements"></head>
<title>Eregistrar- Home</title>
</head>
<body>
<div th:replace="public/fragments/header :: header"></div>
<div id="mainContainer" class="container">
    <h3>Welcome to the MIU Registration</h3>
    <hr/>
    <div>
        <img id="banner-img" th:src="@{/images/image.JPG}" alt="Fairfield University">
    </div>
    <div style="font-size: 1em;margin-top: .75em;">
        <p>To browse or manage data for collection of <a href="/eregistrar/list">Students</a> , please first make sure to read the
            instructions and key points provided below. And then click the
            appropriate menu item, located on the nav-bar above.
        </p>
        <p>
            All students are required to register with the MIU Enrollment Center in order to receive academic credit
            for completed coursework. Semester or Term Registration: At each registration you will validate your semester
            or summer term finances, class schedule, and personal contact information. You will also complete payment if
            you have not already done so online, and then receive your updated student ID badge sticker. If you plan to
            live on campus, you will also receive your door card validation sticker.New Students: Your Admissions
            representative will give you your registration schedule. Be sure to bring your check-in sheet when you come
            for your badge photo and for registration. Continuing Students: Come to the Enrollment Center at the start of
            each semester on the Saturday before Forest.  If not attending Forest then come to the Enrollment Center on
            the Friday before your first course starts.
        </p>


    </div>
</div>

<div th:replace="public/fragments/footer :: footer"></div>
<!--    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>-->
</body>
</html>